body {
  margin: 0;
  line-height: normal;
}
.picture-icon {
  position: absolute;
  top: 0;
  left: 616px;
  width: 584px;
  height: 478px;
}
.majmuasini-organish-orqali {
  color: var(--black-color-21);
}
.haft-shuaro-majmuasini-organ3 {
  position: absolute;
  top: 340px;
  left: 0;
  display: inline-block;
  width: 379px;
}
.milliy-manaviy-merosini-span1 {
  color: var(--primary-1-primary-100);
}
.xix-asr-xorazm-vohasining-mill1 {
  position: absolute;
  top: 36px;
  left: 0;
  font-size: var(--inter-h1-size);
  font-weight: 600;
  display: inline-block;
  width: 584px;
  color: var(--accent-black-100);
}
.group-div56 {
  position: absolute;
  top: 160px;
  left: 120px;
  width: 1200px;
  height: 478px;
  font-size: var(--inter-h4-size);
  color: var(--primary-1-primary-100);
}
.rectangle-div51 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--primary-1-primary-12);
  width: 1199px;
  height: 516px;
}
.image-52-icon6,
.image-57-icon6 {
  position: absolute;
  top: -418px;
  left: 971px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-57-icon6 {
  left: 1242px;
}
.image-53-icon6,
.image-54-icon6,
.image-55-icon6,
.image-56-icon6,
.image-58-icon6 {
  position: absolute;
  top: -418px;
  left: 700px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-54-icon6,
.image-55-icon6,
.image-56-icon6,
.image-58-icon6 {
  left: 429px;
}
.image-55-icon6,
.image-56-icon6,
.image-58-icon6 {
  left: 158px;
}
.image-56-icon6,
.image-58-icon6 {
  left: -113px;
}
.image-58-icon6 {
  left: -384px;
}
.image-42-icon6,
.image-44-icon6,
.image-49-icon6,
.image-62-icon6 {
  position: absolute;
  top: 418px;
  left: 610px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-44-icon6,
.image-49-icon6,
.image-62-icon6 {
  top: 678px;
  left: 543px;
}
.image-49-icon6,
.image-62-icon6 {
  top: 599px;
  left: 227px;
}
.image-49-icon6 {
  top: 678px;
  left: 384px;
}
.image-48-icon6,
.image-59-icon6,
.image-60-icon6,
.image-63-icon6 {
  position: absolute;
  top: 599px;
  left: -44px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-48-icon6,
.image-59-icon6,
.image-60-icon6 {
  top: 418px;
  left: 384px;
}
.image-59-icon6,
.image-60-icon6 {
  top: -79px;
  left: -316px;
}
.image-60-icon6 {
  top: 260px;
  left: -383px;
}
.image-45-icon6,
.image-46-icon6,
.image-64-icon6,
.image-65-icon6 {
  position: absolute;
  top: 599px;
  left: -315px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-45-icon6,
.image-46-icon6,
.image-65-icon6 {
  top: 678px;
  left: 814px;
}
.image-46-icon6,
.image-65-icon6 {
  top: 599px;
  left: 498px;
}
.image-46-icon6 {
  top: 678px;
  left: 1085px;
}
.image-50-icon6,
.image-61-icon6,
.image-66-icon6,
.image-67-icon6 {
  position: absolute;
  top: 599px;
  left: 769px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-50-icon6,
.image-61-icon6,
.image-67-icon6 {
  top: 678px;
  left: 1356px;
}
.image-61-icon6,
.image-67-icon6 {
  top: 599px;
  left: 1040px;
}
.image-61-icon6 {
  top: 260px;
  left: 1243px;
}
.image-43-icon6,
.image-47-icon6,
.image-51-icon6,
.image-68-icon6 {
  position: absolute;
  top: 599px;
  left: 1311px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-43-icon6,
.image-47-icon6,
.image-51-icon6 {
  top: 418px;
  left: 1423px;
}
.image-43-icon6,
.image-47-icon6 {
  left: 1152px;
}
.image-43-icon6 {
  left: 881px;
}
.pattern-div6 {
  position: absolute;
  top: -418px;
  left: -384px;
  width: 1966px;
  height: 1356px;
}
.haft-shuaro-kutubxonasi1 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-gilroy-semibold);
  display: inline-block;
  width: 586px;
}
.har-bir-xalqning2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.har-bir-xalqning-oziga-xos-ta2 {
  position: absolute;
  top: 64px;
  left: 0;
  font-size: var(--inter-h5-size);
  line-height: 36px;
  color: var(--black-color-21);
  display: inline-block;
  width: 536px;
}
.kutobxonaga-otish-div {
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.east-black-24dp-5-1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.button-div9 {
  position: absolute;
  top: 358px;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--primary-1-primary-100);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.04);
  width: 244px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--inter-p-size);
  color: var(--foundation-black-b0);
}
.rectangle-icon24 {
  position: absolute;
  top: 0;
  left: 670px;
  border-radius: var(--br-md);
  width: 433px;
  height: 420px;
  object-fit: cover;
}
.group-div57 {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 1103px;
  height: 420px;
}
.rectangle-div52,
.section-avtomation-div3 {
  position: absolute;
  border-radius: var(--br-lg);
  width: 1199px;
}
.section-avtomation-div3 {
  top: 734px;
  left: 121px;
  height: 519px;
  overflow: hidden;
}
.rectangle-div52 {
  top: 0;
  left: 0;
  background-color: var(--primary-1-primary-100);
  height: 516px;
}
.image-52-icon7,
.image-53-icon7,
.image-54-icon7,
.image-55-icon7,
.image-57-icon7 {
  position: absolute;
  top: -415px;
  left: 1182px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-53-icon7,
.image-54-icon7,
.image-55-icon7,
.image-57-icon7 {
  left: 1453px;
}
.image-53-icon7,
.image-54-icon7,
.image-55-icon7 {
  left: 911px;
}
.image-54-icon7,
.image-55-icon7 {
  left: 640px;
}
.image-55-icon7 {
  left: 369px;
}
.image-42-icon7,
.image-49-icon7,
.image-56-icon7,
.image-58-icon7,
.image-62-icon7 {
  position: absolute;
  top: -415px;
  left: 98px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-42-icon7,
.image-49-icon7,
.image-58-icon7,
.image-62-icon7 {
  left: -173px;
}
.image-42-icon7,
.image-49-icon7,
.image-62-icon7 {
  top: 415px;
  left: 610px;
}
.image-49-icon7,
.image-62-icon7 {
  top: 602px;
  left: 438px;
}
.image-49-icon7 {
  top: 678px;
  left: 272px;
}
.image-48-icon7,
.image-59-icon7,
.image-60-icon7,
.image-63-icon7 {
  position: absolute;
  top: 602px;
  left: 167px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-48-icon7,
.image-59-icon7,
.image-60-icon7 {
  top: 415px;
  left: 339px;
}
.image-59-icon7,
.image-60-icon7 {
  left: 173px;
}
.image-60-icon7 {
  top: 678px;
}
.image-61-icon7,
.image-64-icon7,
.image-65-icon7,
.image-66-icon7,
.image-67-icon7 {
  position: absolute;
  top: 602px;
  left: -104px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-61-icon7,
.image-65-icon7,
.image-66-icon7,
.image-67-icon7 {
  left: 709px;
}
.image-61-icon7,
.image-66-icon7,
.image-67-icon7 {
  left: 980px;
}
.image-61-icon7,
.image-67-icon7 {
  left: 1251px;
}
.image-61-icon7 {
  top: 263px;
  left: 1454px;
}
.image-43-icon7,
.image-47-icon7,
.image-51-icon7,
.image-68-icon7 {
  position: absolute;
  top: 602px;
  left: 1522px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-43-icon7,
.image-47-icon7,
.image-51-icon7 {
  top: -76px;
  left: 1250px;
}
.image-43-icon7,
.image-47-icon7 {
  top: 415px;
  left: 1152px;
}
.image-43-icon7 {
  left: 881px;
}
.pattern-div7 {
  position: absolute;
  top: -415px;
  left: -173px;
  width: 1966px;
  height: 1356px;
}
.har-bir-xalqning-oziga-xos-ta3 {
  position: absolute;
  top: 64px;
  left: 0;
  font-size: var(--inter-h5-size);
  line-height: 36px;
  display: inline-block;
  width: 536px;
}
.button-div10 {
  position: absolute;
  top: 358px;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--foundation-black-b0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  font-size: var(--inter-p-size);
  color: var(--primary-1-primary-100);
}
.group-div59,
.rectangle-icon25 {
  position: absolute;
  top: 0;
  left: 517px;
  width: 586px;
  height: 420px;
}
.rectangle-icon25 {
  left: 0;
  border-radius: var(--br-md);
  width: 433px;
  object-fit: cover;
}
.section-avtomation-div4 {
  position: absolute;
  top: 3560px;
  left: 121px;
  border-radius: var(--br-lg);
  width: 1199px;
  height: 519px;
  overflow: hidden;
  color: var(--foundation-black-b0);
}
.image-44-icon8,
.image-45-icon8,
.image-46-icon8,
.image-49-icon8,
.image-50-icon8 {
  position: absolute;
  top: 260px;
  left: 159px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-45-icon8,
.image-46-icon8,
.image-49-icon8,
.image-50-icon8 {
  left: -112px;
}
.image-45-icon8,
.image-46-icon8,
.image-50-icon8 {
  left: 430px;
}
.image-46-icon8,
.image-50-icon8 {
  left: 701px;
}
.image-50-icon8 {
  left: 972px;
}
.ushbu-sayt-haft-shuaro-majmu {
  position: absolute;
  top: 32px;
  left: 32px;
  line-height: 32px;
  display: inline-block;
  width: 1135px;
}
.section-avtomation-div5 {
  position: absolute;
  top: 2237px;
  left: 121px;
  border-radius: var(--br-lg);
  width: 1199px;
  height: 160px;
  overflow: hidden;
  font-size: var(--typography-h5-size);
  color: var(--accent-black-100);
}
.tadqiqot-va-maqolalar3 {
  position: absolute;
  top: 0;
  left: 0.33%;
  font-size: var(--inter-h3-size);
  font-weight: 600;
  font-family: var(--inter-p);
  color: var(--accent-black-100);
  display: inline-block;
}
.frame-div30,
.frame-div31,
.frame-div32,
.frame-div33 {
  position: absolute;
  top: 79px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-div30 {
  left: 0;
  background-color: var(--primary-1-primary-75);
  color: var(--foundation-black-b0);
}
.frame-div31,
.frame-div32,
.frame-div33 {
  left: 309px;
  background-color: var(--primary-1-primary-12);
}
.frame-div32,
.frame-div33 {
  left: 485px;
}
.frame-div33 {
  left: 171px;
}
.rectangle-div54,
.rectangle-div55 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--background-color-nea);
  width: 584px;
  height: 255px;
}
.rectangle-div55 {
  background-color: var(--foundation-black-b0);
  width: 231px;
  height: 231px;
}
.image-69-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 251px;
  height: 377px;
  object-fit: cover;
}
.frame-div34 {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: var(--br-lg);
  width: 231px;
  height: 231px;
  overflow: hidden;
}
.xx-asr-boshidagi-xorazm-madani4 {
  position: absolute;
  width: 50.34%;
  top: 9.41%;
  left: 45.55%;
  display: inline-block;
}
.group-div61,
.rectangle-icon26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 584px;
  height: 255px;
}
.rectangle-icon26 {
  border-radius: var(--br-lg);
  width: 231px;
  height: 231px;
  object-fit: cover;
}
.frame-div37,
.group-div62,
.group-div63 {
  position: absolute;
  top: 0;
  left: 616px;
  width: 584px;
  height: 255px;
}
.frame-div37,
.group-div63 {
  top: 287px;
}
.frame-div37 {
  top: 12px;
  left: 12px;
  border-radius: var(--br-lg);
  width: 231px;
  height: 231px;
  overflow: hidden;
  background-image: url(./public/frame-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.group-div60,
.group-div64 {
  position: absolute;
  top: 287px;
  left: 3px;
  width: 584px;
  height: 255px;
}
.group-div60 {
  top: 170px;
  left: 0;
  width: 1200px;
  height: 542px;
  font-size: var(--inter-h4-size);
  color: var(--accent-black-100);
  font-family: var(--typography-h5);
}
.barchasi-div {
  position: relative;
  display: inline-block;
}
.frame-button-div {
  position: absolute;
  top: 744px;
  left: 1039px;
  border-radius: var(--br-2xs);
  background-color: var(--primary-1-primary-12);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--typography-h5-size);
  color: var(--black-color-21);
  font-family: var(--inter-p);
}
.tadqiqot-va-maqolalar2 {
  position: absolute;
  height: 17.85%;
  width: 83.33%;
  top: 30.4%;
  right: 8.33%;
  bottom: 51.76%;
  left: 8.33%;
  font-size: var(--inter-p-size);
  color: var(--accent-black-50);
  font-family: var(--font-sf-pro-text);
}
.rectangle-icon29,
.rectangle-icon30,
.rectangle-icon31,
.rectangle-icon32,
.rectangle-icon33,
.rectangle-icon34 {
  position: absolute;
  height: 47.97%;
  width: 29.92%;
  top: 0;
  right: 37.64%;
  bottom: 52.03%;
  left: 32.44%;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-icon30,
.rectangle-icon31,
.rectangle-icon32,
.rectangle-icon33,
.rectangle-icon34 {
  top: 52.03%;
  right: 31.67%;
  bottom: 0;
  left: 38.41%;
  border-radius: var(--br-2xl);
}
.rectangle-icon31,
.rectangle-icon32,
.rectangle-icon33,
.rectangle-icon34 {
  top: 0;
  right: 5.1%;
  bottom: 52.03%;
  left: 64.99%;
  border-radius: var(--br-xl);
}
.rectangle-icon32,
.rectangle-icon33,
.rectangle-icon34 {
  top: 52.03%;
  right: 0;
  bottom: 0;
  left: 70.08%;
  border-radius: var(--br-2xl);
}
.rectangle-icon33,
.rectangle-icon34 {
  top: 0;
  right: 55.67%;
  bottom: 52.03%;
  left: 14.41%;
  border-radius: var(--br-xl);
}
.rectangle-icon34 {
  top: 52.03%;
  bottom: 0;
  border-radius: var(--br-2xl);
}
.group-div65 {
  position: absolute;
  height: 17.76%;
  width: 126.74%;
  top: 58.31%;
  right: -8.47%;
  bottom: 23.93%;
  left: -18.26%;
}
.photo-galereya-div {
  position: absolute;
  top: 56.17%;
  left: 8.4%;
  font-weight: 600;
  color: var(--accent-black-100);
  display: inline-block;
}
.frame-button-div1 {
  position: absolute;
  top: 3416px;
  left: 1160px;
  border-radius: var(--br-2xs);
  background-color: var(--primary-1-primary-12);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--typography-h5-size);
  color: var(--black-color-21);
}
.rectangle-div59 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color-nea);
}
.image-51-icon9 {
  position: absolute;
  top: 415px;
  left: 1423px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.manzil-div3 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.tinchlik-kochasi-25-uy3 {
  margin: 0;
}
.urganch-shahar-tinchlik-koch3 {
  position: absolute;
  top: 51.28%;
  left: 0.58%;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
  display: inline-block;
}
.group-div67 {
  position: absolute;
  height: 29.66%;
  width: 12.01%;
  top: 18.25%;
  right: 41.74%;
  bottom: 52.09%;
  left: 46.25%;
}
.div8 {
  position: absolute;
  top: 67.8%;
  left: 0;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
  display: inline-block;
}
.group-div68,
.group-div70 {
  position: absolute;
  height: 22.43%;
  width: 9.93%;
  top: 18.25%;
  right: 25.49%;
  bottom: 59.32%;
  left: 64.58%;
}
.group-div70 {
  height: 35.29%;
  width: 75.95%;
  top: 0;
  right: 22.78%;
  bottom: 64.71%;
  left: 1.27%;
}
.frame-icon24,
.frame-icon25,
.frame-icon26,
.frame-icon27 {
  position: absolute;
  top: 36px;
  left: 84px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.frame-icon25,
.frame-icon26,
.frame-icon27 {
  left: 42px;
}
.frame-icon26,
.frame-icon27 {
  left: 0;
}
.frame-icon27 {
  left: 126px;
}
.group-div69,
.rectangle-div60 {
  position: absolute;
  height: 25.86%;
  width: 10.97%;
  top: 18.25%;
  right: 8.33%;
  bottom: 55.89%;
  left: 80.69%;
}
.rectangle-div60 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--dominant-2-color-4);
}
.icon3 {
  position: absolute;
  height: 57.89%;
  width: 13.41%;
  top: 21.05%;
  right: 76.83%;
  bottom: 21.05%;
  left: 9.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.developed-and-designed-by-appx3,
.group-div71 {
  position: absolute;
  width: 62.2%;
  top: 21.05%;
  left: 28.05%;
  display: inline-block;
}
.group-div71 {
  height: 21.67%;
  width: 17.08%;
  top: 64.64%;
  right: 10.63%;
  bottom: 13.69%;
  left: 72.29%;
  display: none;
  font-size: var(--font-size-xs);
  font-family: var(--font-sf-pro-text);
}
.haft-shuaro-majmuasini-organ4 {
  position: absolute;
  width: 100%;
  top: 48.65%;
  left: 0;
  display: inline-block;
}
.haft-shuaro-div8 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--inter-h5-size);
  font-weight: 600;
  color: var(--primary-1-primary-100);
  display: inline-block;
}
.group-div72 {
  position: absolute;
  height: 42.21%;
  width: 15.76%;
  top: 18.25%;
  right: 75.9%;
  bottom: 39.54%;
  left: 8.33%;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
}
.frame-div38,
.group-div66 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 263px;
}
.frame-div38 {
  top: 4175px;
  overflow: hidden;
  font-size: var(--typography-h5-size);
}
.rectangle-div61 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--foundation-black-b0);
}
.expand-more-black-18dp-1-13 {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-div39 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.group-div73 {
  position: relative;
  width: 79px;
  height: 24px;
  flex-shrink: 0;
}
.component-40-div3,
.component-43-div3,
.component-44-div3,
.component-47-div3 {
  position: absolute;
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  box-sizing: border-box;
}
.component-47-div3 {
  height: 41.67%;
  width: 7.71%;
  top: 29.69%;
  right: 8.33%;
  bottom: 28.65%;
  left: 83.96%;
  background-color: var(--background-color-nea);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--accent-black-50);
}
.component-40-div3,
.component-43-div3,
.component-44-div3 {
  height: 36.46%;
  top: 32.29%;
  bottom: 31.25%;
}
.component-40-div3 {
  width: 8.26%;
  right: 62.99%;
  left: 28.75%;
  background-color: var(--primary-1-primary-12);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-43-div3,
.component-44-div3 {
  width: 7.78%;
  right: 52.99%;
  left: 39.24%;
  align-items: center;
  justify-content: center;
}
.component-44-div3 {
  width: 9.38%;
  right: 41.39%;
  left: 49.24%;
  align-items: flex-start;
  justify-content: flex-start;
}
.maqolalar-div {
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.component-45-div3 {
  height: 36.46%;
  width: 7.29%;
  top: 32.29%;
  right: 31.88%;
  bottom: 31.25%;
  left: 60.83%;
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-45-div3,
.component-46-div3,
.line-div4 {
  position: absolute;
  box-sizing: border-box;
}
.component-46-div3 {
  height: 41.67%;
  width: 14.44%;
  top: 29.69%;
  right: 10.42%;
  bottom: 28.65%;
  left: 75.14%;
  border-radius: var(--br-sm);
  background-color: var(--dominant-2-color-3);
  display: none;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  color: var(--foundation-black-b0);
  font-family: var(--font-sf-pro-text);
}
.line-div4 {
  height: 0.73%;
  width: 100.05%;
  top: 99.64%;
  right: -0.02%;
  bottom: -0.36%;
  left: -0.02%;
  border-top: 0.7px solid var(--background-color-nea);
}
.haft-shuaro-div9 {
  position: absolute;
  top: 34.38%;
  left: 8.33%;
  font-size: var(--inter-h5-size);
  font-weight: 600;
  color: var(--primary-1-primary-100);
  display: inline-block;
}
.navbar-div3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 96px;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
}
.haft-shuaro-div6 {
  position: relative;
  background-color: var(--foundation-black-b0);
  width: 100%;
  height: 4438px;
  overflow: hidden;
  text-align: left;
  font-size: var(--inter-h3-size);
  color: var(--neutral-black);
  font-family: var(--inter-p);
}
