body {
  margin: 0;
  line-height: normal;
}
.rectangle-div29 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color-nea);
}
.image-52-icon4,
.image-57-icon4 {
  position: absolute;
  top: -415px;
  left: 1182px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-57-icon4 {
  left: 1453px;
}
.image-53-icon4,
.image-54-icon4,
.image-55-icon4,
.image-56-icon4,
.image-58-icon4 {
  position: absolute;
  top: -415px;
  left: 911px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-54-icon4,
.image-55-icon4,
.image-56-icon4,
.image-58-icon4 {
  left: 640px;
}
.image-55-icon4,
.image-56-icon4,
.image-58-icon4 {
  left: 369px;
}
.image-56-icon4,
.image-58-icon4 {
  left: 98px;
}
.image-58-icon4 {
  left: -173px;
}
.image-42-icon4,
.image-44-icon4,
.image-49-icon4,
.image-62-icon4 {
  position: absolute;
  top: 415px;
  left: 610px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-44-icon4,
.image-49-icon4,
.image-62-icon4 {
  top: 678px;
  left: 543px;
}
.image-49-icon4,
.image-62-icon4 {
  top: 602px;
  left: 438px;
}
.image-49-icon4 {
  top: 678px;
  left: 272px;
}
.image-48-icon4,
.image-59-icon4,
.image-60-icon4,
.image-63-icon4 {
  position: absolute;
  top: 602px;
  left: 167px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-48-icon4,
.image-59-icon4,
.image-60-icon4 {
  top: 415px;
  left: 339px;
}
.image-59-icon4,
.image-60-icon4 {
  left: 173px;
}
.image-60-icon4 {
  top: 678px;
}
.image-45-icon4,
.image-46-icon4,
.image-64-icon4,
.image-65-icon4 {
  position: absolute;
  top: 602px;
  left: -104px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-45-icon4,
.image-46-icon4,
.image-65-icon4 {
  top: 678px;
  left: 814px;
}
.image-46-icon4,
.image-65-icon4 {
  top: 602px;
  left: 709px;
}
.image-46-icon4 {
  top: 678px;
  left: 1085px;
}
.image-50-icon4,
.image-61-icon4,
.image-66-icon4,
.image-67-icon4 {
  position: absolute;
  top: 602px;
  left: 980px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-50-icon4,
.image-61-icon4,
.image-67-icon4 {
  top: 678px;
  left: 1356px;
}
.image-61-icon4,
.image-67-icon4 {
  top: 602px;
  left: 1251px;
}
.image-61-icon4 {
  top: 263px;
  left: 1454px;
}
.image-43-icon4,
.image-47-icon4,
.image-51-icon4,
.image-68-icon4 {
  position: absolute;
  top: 602px;
  left: 1522px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-43-icon4,
.image-47-icon4,
.image-51-icon4 {
  top: 415px;
  left: 1423px;
}
.image-43-icon4,
.image-47-icon4 {
  left: 1152px;
}
.image-43-icon4 {
  left: 881px;
}
.pattern-div4 {
  position: absolute;
  top: -415px;
  left: -173px;
  width: 1966px;
  height: 1356px;
}
.manzil-div2,
.urganch-shahar-tinchlik-koch2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.urganch-shahar-tinchlik-koch2 {
  top: 51.28%;
  left: 0.58%;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
}
.group-div39 {
  position: absolute;
  height: 29.66%;
  width: 12.01%;
  top: 18.25%;
  right: 41.74%;
  bottom: 52.09%;
  left: 46.25%;
}
.div6 {
  position: absolute;
  top: 67.8%;
  left: 0;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
  display: inline-block;
}
.group-div40,
.group-div42 {
  position: absolute;
  height: 22.43%;
  width: 9.93%;
  top: 18.25%;
  right: 25.49%;
  bottom: 59.32%;
  left: 64.58%;
}
.group-div42 {
  height: 35.29%;
  width: 75.95%;
  top: 0;
  right: 22.78%;
  bottom: 64.71%;
  left: 1.27%;
}
.frame-icon10,
.frame-icon11,
.frame-icon12,
.frame-icon13 {
  position: absolute;
  top: 36px;
  left: 84px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.frame-icon11,
.frame-icon12,
.frame-icon13 {
  left: 42px;
}
.frame-icon12,
.frame-icon13 {
  left: 0;
}
.frame-icon13 {
  left: 126px;
}
.group-div41,
.rectangle-div30 {
  position: absolute;
  height: 25.86%;
  width: 10.97%;
  top: 18.25%;
  right: 8.33%;
  bottom: 55.89%;
  left: 80.69%;
}
.rectangle-div30 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--dominant-2-color-4);
}
.icon2 {
  position: absolute;
  height: 57.89%;
  width: 13.41%;
  top: 21.05%;
  right: 76.83%;
  bottom: 21.05%;
  left: 9.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.developed-and-designed-by-appx2,
.group-div43 {
  position: absolute;
  width: 62.2%;
  top: 21.05%;
  left: 28.05%;
  display: inline-block;
}
.group-div43 {
  height: 21.67%;
  width: 17.08%;
  top: 64.64%;
  right: 10.63%;
  bottom: 13.69%;
  left: 72.29%;
  display: none;
  font-size: var(--font-size-xs);
  font-family: var(--font-sf-pro-text);
}
.haft-shuaro-majmuasini-organ2 {
  position: absolute;
  width: 100%;
  top: 48.65%;
  left: 0;
  display: inline-block;
}
.haft-shuaro-div4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--inter-h5-size);
  font-weight: 600;
  color: var(--primary-1-primary-100);
  display: inline-block;
}
.group-div44 {
  position: absolute;
  height: 42.21%;
  width: 15.76%;
  top: 18.25%;
  right: 75.9%;
  bottom: 39.54%;
  left: 8.33%;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
}
.frame-div24,
.group-div38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 263px;
}
.frame-div24 {
  top: 2800px;
  overflow: hidden;
  color: var(--neutral-black);
}
.rectangle-div31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--primary-1-primary-75);
  width: 1199px;
  height: 516px;
}
.image-52-icon5,
.image-53-icon5,
.image-54-icon5,
.image-55-icon5,
.image-57-icon5 {
  position: absolute;
  top: -418px;
  left: 971px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-53-icon5,
.image-54-icon5,
.image-55-icon5,
.image-57-icon5 {
  left: 1242px;
}
.image-53-icon5,
.image-54-icon5,
.image-55-icon5 {
  left: 700px;
}
.image-54-icon5,
.image-55-icon5 {
  left: 429px;
}
.image-55-icon5 {
  left: 158px;
}
.image-42-icon5,
.image-49-icon5,
.image-56-icon5,
.image-58-icon5,
.image-62-icon5 {
  position: absolute;
  top: -418px;
  left: -113px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-42-icon5,
.image-49-icon5,
.image-58-icon5,
.image-62-icon5 {
  left: -384px;
}
.image-42-icon5,
.image-49-icon5,
.image-62-icon5 {
  top: 418px;
  left: 610px;
}
.image-49-icon5,
.image-62-icon5 {
  top: 599px;
  left: 227px;
}
.image-49-icon5 {
  top: 678px;
  left: 384px;
}
.image-48-icon5,
.image-59-icon5,
.image-60-icon5,
.image-63-icon5 {
  position: absolute;
  top: 599px;
  left: -44px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-48-icon5,
.image-59-icon5,
.image-60-icon5 {
  top: 418px;
  left: 384px;
}
.image-59-icon5,
.image-60-icon5 {
  top: -79px;
  left: -316px;
}
.image-60-icon5 {
  top: 260px;
  left: -383px;
}
.image-61-icon5,
.image-64-icon5,
.image-65-icon5,
.image-66-icon5,
.image-67-icon5 {
  position: absolute;
  top: 599px;
  left: -315px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-61-icon5,
.image-65-icon5,
.image-66-icon5,
.image-67-icon5 {
  left: 498px;
}
.image-61-icon5,
.image-66-icon5,
.image-67-icon5 {
  left: 769px;
}
.image-61-icon5,
.image-67-icon5 {
  left: 1040px;
}
.image-61-icon5 {
  top: 260px;
  left: 1243px;
}
.image-43-icon5,
.image-47-icon5,
.image-51-icon5,
.image-68-icon5 {
  position: absolute;
  top: 599px;
  left: 1311px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-43-icon5,
.image-47-icon5,
.image-51-icon5 {
  top: 418px;
  left: 1423px;
}
.image-43-icon5,
.image-47-icon5 {
  left: 1152px;
}
.image-43-icon5 {
  left: 881px;
}
.pattern-div5 {
  position: absolute;
  top: -418px;
  left: -384px;
  width: 1966px;
  height: 1356px;
}
.haft-shuaro-kutubxonasi,
.har-bir-xalqning-oziga-xos-ta1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 586px;
}
.har-bir-xalqning-oziga-xos-ta1 {
  top: 64px;
  font-size: var(--inter-h5-size);
  line-height: 36px;
  font-family: var(--inter-p);
  width: 536px;
}
.rectangle-icon14 {
  position: absolute;
  top: 0;
  left: 670px;
  border-radius: var(--br-md);
  width: 433px;
  height: 420px;
  object-fit: cover;
}
.group-div45 {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 1103px;
  height: 420px;
}
.section-avtomation-div2 {
  position: absolute;
  top: 144px;
  left: 120px;
  border-radius: var(--br-lg);
  width: 1199px;
  height: 516px;
  overflow: hidden;
  font-size: var(--inter-h3-size);
  color: var(--foundation-black-b0);
  font-family: var(--font-gilroy-semibold);
}
.adabiy-muhit-div1 {
  position: relative;
  display: inline-block;
}
.frame-div25,
.frame-div26,
.frame-div27,
.frame-div28 {
  position: absolute;
  top: 708px;
  left: 120px;
  border-radius: var(--br-md);
  background-color: var(--primary-1-primary-75);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--inter-p-size);
  color: var(--foundation-black-b0);
  font-family: var(--font-sf-pro-text);
}
.frame-div26,
.frame-div27,
.frame-div28 {
  left: 429px;
  background-color: var(--primary-1-primary-12);
  color: var(--accent-black-50);
}
.frame-div27,
.frame-div28 {
  left: 605px;
}
.frame-div28 {
  left: 291px;
}
.rectangle-div32,
.rectangle-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 379px;
}
.rectangle-div32 {
  background-color: var(--foundation-black-b0);
  height: 603px;
}
.rectangle-icon15 {
  height: 314px;
  object-fit: cover;
}
.ne-boldi-yorim-kelmadi {
  position: absolute;
  top: 338px;
  left: 24px;
  font-size: var(--inter-h4-size);
  display: inline-block;
  width: 331px;
}
.yuklab-olish-div {
  position: absolute;
  top: 16px;
  left: 116px;
  display: inline-block;
}
.button-div {
  position: absolute;
  top: 523px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--primary-1-primary-100);
  width: 331px;
  height: 56px;
  color: var(--foundation-black-b0);
  font-family: var(--typography-h5);
}
.muallif-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.muhammad-rahimxon-feruz {
  margin: 0;
}
.muallif-muhammad-rahimxon-fer {
  position: absolute;
  top: 446px;
  left: 24px;
  color: var(--black-color-21);
  display: inline-block;
}
.rectangle-div33 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--foundation-black-b0);
  width: 56px;
  height: 56px;
}
.frame-icon14 {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 25px;
  height: 24px;
  overflow: hidden;
}
.group-div46 {
  position: absolute;
  top: 523px;
  left: 24px;
  width: 56px;
  height: 56px;
  display: none;
}
.product-card-div,
.product-card-div1,
.product-card-div2,
.product-card-div3,
.product-card-div4,
.product-card-div5,
.product-card-div6,
.product-card-div7,
.product-card-div8 {
  position: absolute;
  top: 798px;
  left: 119px;
  border-radius: var(--br-sm);
  box-shadow: var(--shadow-2);
  border: 1px solid var(--foundation-black-b40);
  box-sizing: border-box;
  width: 381px;
  height: 605px;
}
.product-card-div1,
.product-card-div2,
.product-card-div3,
.product-card-div4,
.product-card-div5,
.product-card-div6,
.product-card-div7,
.product-card-div8 {
  left: 530px;
}
.product-card-div2,
.product-card-div3,
.product-card-div4,
.product-card-div5,
.product-card-div6,
.product-card-div7,
.product-card-div8 {
  left: 941px;
}
.product-card-div3,
.product-card-div4,
.product-card-div5,
.product-card-div6,
.product-card-div7,
.product-card-div8 {
  top: 1449px;
  left: 119px;
}
.product-card-div4,
.product-card-div5,
.product-card-div6,
.product-card-div7,
.product-card-div8 {
  top: 2100px;
  left: 118px;
}
.product-card-div5,
.product-card-div6,
.product-card-div7,
.product-card-div8 {
  top: 1449px;
  left: 529px;
}
.product-card-div6,
.product-card-div7,
.product-card-div8 {
  top: 2100px;
  left: 528px;
}
.product-card-div7,
.product-card-div8 {
  top: 1449px;
  left: 941px;
}
.product-card-div8 {
  top: 2100px;
  left: 940px;
}
.rectangle-div50 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--foundation-black-b0);
}
.expand-more-black-18dp-1-12,
.language-black-24dp-1-12 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.expand-more-black-18dp-1-12 {
  width: 18px;
  height: 18px;
}
.frame-div29 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.group-div55 {
  position: relative;
  width: 79px;
  height: 24px;
  flex-shrink: 0;
}
.component-47-div2 {
  position: absolute;
  height: 41.67%;
  width: 7.71%;
  top: 29.69%;
  right: 8.33%;
  bottom: 28.65%;
  left: 83.96%;
  border-radius: var(--br-sm);
  background-color: var(--background-color-nea);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--accent-black-50);
}
.bosh-sahifa-div2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.component-40-div2 {
  position: absolute;
  width: 8.26%;
  right: 62.99%;
  left: 28.75%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-40-div2,
.component-43-div2,
.component-44-div2,
.component-45-div2 {
  height: 36.46%;
  top: 32.29%;
  bottom: 31.25%;
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
}
.component-43-div2 {
  position: absolute;
  width: 7.78%;
  right: 53.13%;
  left: 39.1%;
  background-color: var(--primary-1-primary-12);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.component-44-div2,
.component-45-div2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.component-44-div2 {
  position: absolute;
  width: 9.38%;
  right: 41.67%;
  left: 48.96%;
  box-sizing: border-box;
}
.component-45-div2 {
  width: 8.13%;
  right: 31.46%;
  left: 60.42%;
}
.component-45-div2,
.component-46-div2,
.line-div3 {
  position: absolute;
  box-sizing: border-box;
}
.component-46-div2 {
  height: 41.67%;
  width: 14.44%;
  top: 29.69%;
  right: 10.42%;
  bottom: 28.65%;
  left: 75.14%;
  border-radius: var(--br-sm);
  background-color: var(--dominant-2-color-3);
  display: none;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  color: var(--foundation-black-b0);
  font-family: var(--font-sf-pro-text);
}
.line-div3 {
  height: 0.73%;
  width: 100.05%;
  top: 99.64%;
  right: -0.02%;
  bottom: -0.36%;
  left: -0.02%;
  border-top: 0.7px solid var(--background-color-nea);
}
.haft-shuaro-div5 {
  position: absolute;
  top: 34.38%;
  left: 8.33%;
  font-size: var(--inter-h5-size);
  font-weight: 600;
  color: var(--primary-1-primary-100);
  display: inline-block;
}
.navbar-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 96px;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
}
.kutubxona-div2 {
  position: relative;
  background-color: var(--foundation-black-b0);
  width: 100%;
  height: 3063px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-h5-size);
  color: var(--foundation-black-b700);
  font-family: var(--inter-p);
}
