body {
  margin: 0;
  line-height: normal;
}
.rectangle-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color-nea);
}
.image-52-icon,
.image-57-icon {
  position: absolute;
  top: -415px;
  left: 1182px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-57-icon {
  left: 1453px;
}
.image-53-icon,
.image-54-icon,
.image-55-icon,
.image-56-icon,
.image-58-icon {
  position: absolute;
  top: -415px;
  left: 911px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-54-icon,
.image-55-icon,
.image-56-icon,
.image-58-icon {
  left: 640px;
}
.image-55-icon,
.image-56-icon,
.image-58-icon {
  left: 369px;
}
.image-56-icon,
.image-58-icon {
  left: 98px;
}
.image-58-icon {
  left: -173px;
}
.image-42-icon,
.image-44-icon,
.image-49-icon,
.image-62-icon {
  position: absolute;
  top: 415px;
  left: 610px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-44-icon,
.image-49-icon,
.image-62-icon {
  top: 678px;
  left: 543px;
}
.image-49-icon,
.image-62-icon {
  top: 602px;
  left: 438px;
}
.image-49-icon {
  top: 678px;
  left: 272px;
}
.image-48-icon,
.image-59-icon,
.image-60-icon,
.image-63-icon {
  position: absolute;
  top: 602px;
  left: 167px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-48-icon,
.image-59-icon,
.image-60-icon {
  top: 415px;
  left: 339px;
}
.image-59-icon,
.image-60-icon {
  left: 173px;
}
.image-60-icon {
  top: 678px;
}
.image-45-icon,
.image-46-icon,
.image-64-icon,
.image-65-icon {
  position: absolute;
  top: 602px;
  left: -104px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-45-icon,
.image-46-icon,
.image-65-icon {
  top: 678px;
  left: 814px;
}
.image-46-icon,
.image-65-icon {
  top: 602px;
  left: 709px;
}
.image-46-icon {
  top: 678px;
  left: 1085px;
}
.image-50-icon,
.image-61-icon,
.image-66-icon,
.image-67-icon {
  position: absolute;
  top: 602px;
  left: 980px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-50-icon,
.image-61-icon,
.image-67-icon {
  top: 678px;
  left: 1356px;
}
.image-61-icon,
.image-67-icon {
  top: 602px;
  left: 1251px;
}
.image-61-icon {
  top: 263px;
  left: 1454px;
}
.image-43-icon,
.image-47-icon,
.image-51-icon,
.image-68-icon {
  position: absolute;
  top: 602px;
  left: 1522px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-43-icon,
.image-47-icon,
.image-51-icon {
  top: 415px;
  left: 1423px;
}
.image-43-icon,
.image-47-icon {
  left: 1152px;
}
.image-43-icon {
  left: 881px;
}
.pattern-div {
  position: absolute;
  top: -415px;
  left: -173px;
  width: 1966px;
  height: 1356px;
}
.manzil-div {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.urganch-shahar-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.tinchlik-kochasi-25-uy {
  margin: 0;
}
.urganch-shahar-tinchlik-koch {
  position: absolute;
  top: 51.28%;
  left: 0.58%;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
  display: inline-block;
}
.group-div1 {
  position: absolute;
  height: 29.66%;
  width: 12.01%;
  top: 18.25%;
  right: 41.74%;
  bottom: 52.09%;
  left: 46.25%;
}
.div2 {
  position: absolute;
  top: 67.8%;
  left: 0;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
  display: inline-block;
}
.group-div2,
.group-div4 {
  position: absolute;
  height: 22.43%;
  width: 9.93%;
  top: 18.25%;
  right: 25.49%;
  bottom: 59.32%;
  left: 64.58%;
}
.group-div4 {
  height: 35.29%;
  width: 75.95%;
  top: 0;
  right: 22.78%;
  bottom: 64.71%;
  left: 1.27%;
}
.frame-icon,
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  position: absolute;
  top: 36px;
  left: 84px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  left: 42px;
}
.frame-icon2,
.frame-icon3 {
  left: 0;
}
.frame-icon3 {
  left: 126px;
}
.group-div3,
.rectangle-div1 {
  position: absolute;
  height: 25.86%;
  width: 10.97%;
  top: 18.25%;
  right: 8.33%;
  bottom: 55.89%;
  left: 80.69%;
}
.rectangle-div1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--dominant-2-color-4);
}
.icon {
  position: absolute;
  height: 57.89%;
  width: 13.41%;
  top: 21.05%;
  right: 76.83%;
  bottom: 21.05%;
  left: 9.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.developed-and-designed-by-appx,
.group-div5 {
  position: absolute;
  width: 62.2%;
  top: 21.05%;
  left: 28.05%;
  display: inline-block;
}
.group-div5 {
  height: 21.67%;
  width: 17.08%;
  top: 64.64%;
  right: 10.63%;
  bottom: 13.69%;
  left: 72.29%;
  display: none;
  font-size: var(--font-size-xs);
  font-family: var(--font-sf-pro-text);
}
.haft-shuaro-majmuasini-organ {
  position: absolute;
  width: 100%;
  top: 48.65%;
  left: 0;
  display: inline-block;
}
.haft-shuaro-div {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--inter-h5-size);
  font-weight: 600;
  color: var(--primary-1-primary-100);
  display: inline-block;
}
.group-div6 {
  position: absolute;
  height: 42.21%;
  width: 15.76%;
  top: 18.25%;
  right: 75.9%;
  bottom: 39.54%;
  left: 8.33%;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
}
.frame-div,
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 263px;
}
.frame-div {
  top: 3335px;
  overflow: hidden;
  font-size: var(--typography-h5-size);
  color: var(--neutral-black);
}
.rectangle-div2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--background-color-nea2);
}
.islom-moliyasida-sukuk-jahon {
  position: absolute;
  width: 53.92%;
  top: 1.83%;
  left: 42.75%;
  font-size: var(--inter-h4-size);
  font-weight: 600;
  font-family: var(--font-sf-pro-text);
  color: var(--accent-black-100);
  display: inline-block;
}
.feruz-nomi-bilan-bogliq-xx-as,
.malumki-xorazm-adabiy-muhiti {
  position: absolute;
  width: 53.5%;
  top: 6.67%;
  left: 42.83%;
  line-height: 36px;
  display: inline-block;
}
.feruz-nomi-bilan-bogliq-xx-as {
  width: 93.33%;
  top: 34.06%;
  left: 3.33%;
}
.group-div7 {
  position: absolute;
  height: 60.87%;
  width: 83.33%;
  top: 9.78%;
  right: 8.33%;
  bottom: 29.35%;
  left: 8.33%;
  font-size: var(--inter-h5-size);
  color: var(--black-color-21);
}
.rectangle-div3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--primary-1-primary-12);
  width: 1199px;
  height: 516px;
}
.image-52-icon1,
.image-57-icon1 {
  position: absolute;
  top: -418px;
  left: 971px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-57-icon1 {
  left: 1242px;
}
.image-53-icon1,
.image-54-icon1,
.image-55-icon1,
.image-56-icon1,
.image-58-icon1 {
  position: absolute;
  top: -418px;
  left: 700px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-54-icon1,
.image-55-icon1,
.image-56-icon1,
.image-58-icon1 {
  left: 429px;
}
.image-55-icon1,
.image-56-icon1,
.image-58-icon1 {
  left: 158px;
}
.image-56-icon1,
.image-58-icon1 {
  left: -113px;
}
.image-58-icon1 {
  left: -384px;
}
.image-42-icon1,
.image-44-icon1,
.image-49-icon1,
.image-62-icon1 {
  position: absolute;
  top: 418px;
  left: 610px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-44-icon1,
.image-49-icon1,
.image-62-icon1 {
  top: 260px;
  left: 159px;
}
.image-49-icon1,
.image-62-icon1 {
  top: 599px;
  left: 227px;
}
.image-49-icon1 {
  top: 260px;
  left: -112px;
}
.image-48-icon1,
.image-59-icon1,
.image-60-icon1,
.image-63-icon1 {
  position: absolute;
  top: 599px;
  left: -44px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-48-icon1,
.image-59-icon1,
.image-60-icon1 {
  top: 418px;
  left: 384px;
}
.image-59-icon1,
.image-60-icon1 {
  top: -79px;
  left: -316px;
}
.image-60-icon1 {
  top: 260px;
  left: -383px;
}
.image-45-icon1,
.image-46-icon1,
.image-64-icon1,
.image-65-icon1 {
  position: absolute;
  top: 599px;
  left: -315px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-45-icon1,
.image-46-icon1,
.image-65-icon1 {
  top: 260px;
  left: 430px;
}
.image-46-icon1,
.image-65-icon1 {
  top: 599px;
  left: 498px;
}
.image-46-icon1 {
  top: 260px;
  left: 701px;
}
.image-50-icon1,
.image-61-icon1,
.image-66-icon1,
.image-67-icon1 {
  position: absolute;
  top: 599px;
  left: 769px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-50-icon1,
.image-61-icon1,
.image-67-icon1 {
  top: 260px;
  left: 972px;
}
.image-61-icon1,
.image-67-icon1 {
  top: 599px;
  left: 1040px;
}
.image-61-icon1 {
  top: 260px;
  left: 1243px;
}
.image-43-icon1,
.image-47-icon1,
.image-51-icon1,
.image-68-icon1 {
  position: absolute;
  top: 599px;
  left: 1311px;
  width: 271px;
  height: 339px;
  object-fit: cover;
}
.image-43-icon1,
.image-47-icon1,
.image-51-icon1 {
  top: 418px;
  left: 1423px;
}
.image-43-icon1,
.image-47-icon1 {
  left: 1152px;
}
.image-43-icon1 {
  left: 881px;
}
.pattern-div1 {
  position: absolute;
  top: -418px;
  left: -384px;
  width: 1966px;
  height: 1356px;
}
.adabiy-muhit-va-badiiy-ijod-qi {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 676px;
}
.group-div8,
.group-div9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 676px;
  height: 47px;
}
.group-div8 {
  top: 48px;
  left: 48px;
}
.section-avtomation-div {
  position: absolute;
  top: 144px;
  left: 120px;
  border-radius: var(--br-lg);
  width: 1199px;
  height: 144px;
  overflow: hidden;
  font-size: var(--inter-h3-size);
}
.rectangle-icon {
  position: absolute;
  top: 392px;
  left: 160px;
  border-radius: var(--br-sm);
  width: 441px;
  height: 682px;
  object-fit: cover;
}
.rectangle-div4,
.rectangle-div5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--background-color-nea);
  width: 584px;
  height: 255px;
}
.rectangle-div5 {
  background-color: var(--foundation-black-b0);
  width: 231px;
  height: 231px;
}
.image-69-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 251px;
  height: 377px;
  object-fit: cover;
}
.frame-div1 {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: var(--br-lg);
  width: 231px;
  height: 231px;
  overflow: hidden;
}
.xx-asr-boshidagi-xorazm-madani {
  position: absolute;
  width: 50.34%;
  top: 9.41%;
  left: 45.55%;
  display: inline-block;
}
.group-div10 {
  position: absolute;
  top: 2697px;
  left: 120px;
  width: 584px;
  height: 255px;
  font-family: var(--typography-h5);
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 231px;
  height: 231px;
  object-fit: cover;
}
.group-div11,
.group-div12 {
  position: absolute;
  top: 2697px;
  left: 736px;
  width: 584px;
  height: 255px;
  font-family: var(--typography-h5);
}
.group-div12 {
  top: 2984px;
}
.frame-div4 {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: var(--br-lg);
  width: 231px;
  height: 231px;
  overflow: hidden;
  background-image: url(./public/frame-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.group-div13 {
  position: absolute;
  top: 2984px;
  left: 123px;
  width: 584px;
  height: 255px;
  font-family: var(--typography-h5);
}
.boshqalar-div {
  position: absolute;
  top: 72.76%;
  left: 8.47%;
  font-size: var(--inter-h3-size);
  font-weight: 600;
  display: inline-block;
}
.rectangle-div9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--foundation-black-b0);
}
.language-black-24dp-1-1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.uz-div {
  position: relative;
  display: inline-block;
}
.expand-more-black-18dp-1-1 {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-div5 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.group-div14 {
  position: relative;
  width: 79px;
  height: 24px;
  flex-shrink: 0;
}
.component-47-div {
  position: absolute;
  height: 41.67%;
  width: 7.71%;
  top: 29.69%;
  right: 8.33%;
  bottom: 28.65%;
  left: 83.96%;
  border-radius: var(--br-sm);
  background-color: var(--background-color-nea);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--accent-black-50);
}
.bosh-sahifa-div {
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.component-40-div {
  position: absolute;
  width: 8.26%;
  right: 62.99%;
  left: 28.75%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-40-div,
.component-43-div,
.component-44-div,
.component-45-div {
  height: 36.46%;
  top: 32.29%;
  bottom: 31.25%;
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
}
.component-43-div {
  position: absolute;
  width: 7.78%;
  right: 53.13%;
  left: 39.1%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.component-44-div,
.component-45-div {
  align-items: flex-start;
  justify-content: flex-start;
}
.component-44-div {
  position: absolute;
  width: 9.38%;
  right: 41.67%;
  left: 48.96%;
  box-sizing: border-box;
}
.component-45-div {
  width: 8.13%;
  right: 31.46%;
  left: 60.42%;
  background-color: var(--primary-1-primary-12);
}
.component-45-div,
.component-46-div,
.line-div1 {
  position: absolute;
  box-sizing: border-box;
}
.component-46-div {
  height: 41.67%;
  width: 14.44%;
  top: 29.69%;
  right: 10.42%;
  bottom: 28.65%;
  left: 75.14%;
  border-radius: var(--br-sm);
  background-color: var(--dominant-2-color-3);
  display: none;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-md);
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  color: var(--foundation-black-b0);
  font-family: var(--font-sf-pro-text);
}
.line-div1 {
  height: 0.73%;
  width: 100.05%;
  top: 99.64%;
  right: -0.02%;
  bottom: -0.36%;
  left: -0.02%;
  border-top: 0.7px solid var(--background-color-nea);
}
.haft-shuaro-div1 {
  position: absolute;
  top: 34.38%;
  left: 8.33%;
  font-size: var(--inter-h5-size);
  font-weight: 600;
  color: var(--primary-1-primary-100);
  display: inline-block;
}
.navbar-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 96px;
  font-size: var(--inter-p-size);
  color: var(--black-color-21);
}
.maqola-div {
  position: relative;
  background-color: var(--foundation-black-b0);
  width: 100%;
  height: 3598px;
  overflow: hidden;
  text-align: left;
  font-size: var(--inter-h4-size);
  color: var(--accent-black-100);
  font-family: var(--inter-p);
}
